* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: #000000;
  color: #fff;
  height: 100vh;
  font-family: 'Josefin Sans';font-size: 22px;
}
.mb-3 {
   margin-bottom: 1rem;
}

.font-2xl {
   font-size: 2rem;
}

.navbar {
  background: #121417;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo {
  height: 50px;
  width: 50px;
}
.logo img {
  height: 100%;
  width: 100%;
  border-radius: 5rem;
}

main {
  padding: 1rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 100%;
}

.user-info .large-userImage {
  height: 350px;
  width: 45%;
}

.large-userImage img {
  width: 100%;
  height: 100%;
  border-radius: 0.6rem;
}

.project-link a {
   color: #fff;
   text-transform: capitalize;
}

footer {
   background: #121417;
   padding: 1rem 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
}
